<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <br><br>
  <body id="page-top">
    <!-- Navigation-->
    <% include ../partials/navbar.ejs %>

<!-- Main Content -->
<main class="container">
  //add boostrap table code

  <div class="row">
    <div class="col-md-offset-3 col-md-8">
      <h1><%=title %></h1>
      <a href="/users/add" class="btn btn-primary" role="button">
      <i class ="fas fa-plus-circle"></i> Add a user

      </a>
      <br />
      <table class="table table-bordered table-striped table-hover">
        <!--HEader row-->
        <tr>
          <th class="text-center">FullName</th>
          <th class="text-center">Username</th>
          <th class="text-center">Email</th>
          <th class="text-center">Date of Birth</th>
          <!-- <th class="text-center">Price</th> -->
          <th class="text-center"></th>
          <th class="text-center"></th>
        </tr>

        <!--Repetable Templet row-->
        <% for (let count=0; count<UserList.length; count++){%>
          <tr>
            <td class="text-centre "><%=UserList[count].fullname %></td>
            <td class="text-centre "><%=UserList[count].username %></td>
            <td class="text-centre "><%=UserList[count].email %></td>
            <td class="text-centre "><%=UserList[count].dob %></td>
            
            <td class="text-center col-1">
              <a href="/users/edituser/<%= UserList[count]._id %>" class="btn btn-primary btn-sm">
              <i class="fas fa-pencil-alt"></i> Edit</a>
          </td>
          <td class="text-center col-1">
              <a href="/users/deleteuser/<%= UserList[count]._id %>" class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i> Delete</a>
          </td>
          </tr>
        <%}%>
      </table>
    </div>
  </div>
</main>

<%- include ../partials/footer.ejs %>
</body>
</html>
